@font-face {
    font-family: "Roboto";
    src: url(    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
}

@font-face {
    font-family: "Palaquin";
    src: url('https://fonts.googleapis.com/css2?family=Palanquin:wght@700&display=swap');
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

strong {
    font-weight: 600;
}

/* HEADER NAV*/

nav {
    background: #70684B;
    position: relative;
}

nav,nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
}

.navbar__left, .navbar__right{
    margin: 25px 10px;
}
.navbar__left{
    margin-right: 65px;
}

.navbar__right {
    margin-left: 65px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 11px;
    font-weight: medium;
}

nav a:hover {
    color: rgb(168, 163, 154);
}

.navbar__logo {
    position: absolute;
    margin: 0 auto;
    top: 10px;
    text-align: center;
}

.navbar__logo img {
    width: 80%;
}

/* ACCROCHE */

.accroche {
    background-image: url(img/headerBG.png);
    background-size: 106%;
    height: 440px;
}

.accroche__texte h1 {
    margin-top: 0;
    font-weight: 500;
}

.accroche__texte{
    text-align: left;
    width: 30%;
    padding: 75px 33px;
}

.accroche__texte p {
    font-weight: 100;
}

/* ACTIONS */
 .actions h2 {
     text-align: center;
     font-size: 24px;
     font-weight: 500;
 }

 .actions__grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     width: 75%;
     justify-items: center;
     margin: 0 auto;
 }

 .action{
     font-weight: 400;
     border: 8px solid #70633A;
     border-radius: 50%;
     width: 154px;
     height: 154px;
     display: flex;
     text-align: center;
     align-items: center;
 }

 .action strong {
     padding: 0;
 }

 /* QUI SOMMES NOUS */

 .qui {
     margin: 30px 0;
     background-image: url(img/quiBG.png);
     background-size: 150%;
     background-position: top -324px right -24px;
     height: 439px;
 }

 .qui__texte {
     width: 470px;
     height: max-content;
     float: right; 
     background-color: rgba(255, 255, 255, 0.3);
     padding-right: 36px;
     padding-left: 30px;
     padding-top: 35px;
     padding-bottom: 26px;
 }

 .qui h2, .qui p {
     margin: 0;
 }

 .qui h2 {
    padding-bottom: 20px;
    font-weight: medium;
 }

 .qui p {
     font-weight: 200;
 }

 /* CITATION */
 .citation {
    margin: 40px 0; 
 }

 .citation a {
     text-decoration: none;
     color: inherit;
     text-align: center;    
 }

 blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    position: relative;
    color: rgb(126, 126, 126);
 }

 blockquote::before, blockquote::after{
     content: '"';
     font-family: Palaquin;
     font-size: 60px;
     position: relative;
     color: #000;
 }
blockquote::before {
     top: -15px;
     right: 15px;
 }

 blockquote::after {
    bottom: -55px;
    left: 15px;
 }

 q {
  font-size: 14px;
  position: absolute;
  right: 23%;
  quotes: none;
  font-style: 500;
 }

 /* CONTACT */

 .contact {
     background: no-repeat 25%/ 10% url(img/logo.png) #BDAE7E;
     text-align: center;
     color: #fff;
     padding-top: 11px;
     padding-bottom: 25px;
     margin: 30px 0;
     position: relative;
 }

 .newsletters input:first-of-type {
    font-weight: 100;
    border-radius: 0%;
    border: 1px solid #fff;
    padding: 6px 12px;
    margin-bottom: 26px;
 }

 .newsletters input:last-of-type {
     background: #70633A;
     border: #70633A;
     padding: 7px 10px;
     margin: 0;
 }

 .infos {
     font-size: 12px;
 }

 /* AUTRES ASSOCIATIONS */

.autres {
    text-align: center;
}

.autres ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    list-style: none;
}

.autres li {
    padding-left: 30%;
}

.autres li a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.autres li a:hover {
    color: #70633A;
    font-style: italic;
}

.autres h2 {
    font-weight: normal;
    margin-bottom: 40px;
}

/* FOOTER */

footer p {
    background: #70684B;
    text-align: center;
    font-size: 12px;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 10px 0;
}